/*all colors*/
:root {
  --background-color: #FFFCF7;
  --primary-color: #F5BA5D;
  --font-color: #47332B;
  --font2-color: #0A0508;
  --foodcards-color: #FEFEFE;
  --customercards-color: #FFF8EE;
  --color:#403f3f;
  --right-backgroundcolor:#f4d6a14c;
  --boders-color:#80808029;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "SUSE Mono", sans-serif;
  background-color: var(--background-color);
}

/* NAVIGATION */
.container {
  max-width: 95%;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  display: flex;
  color: var(--font-color);
  font-size: 1.2rem;
  align-items: center;
}

.logo img {
  width: 60px;
  height: 40px;
  padding-left: 1rem;
  margin-bottom: 10px;
}

.menus ul {
  display: flex;
  gap: 30px;
  padding-left: 20rem;
}

.menus ul li {
  list-style: none;
}

.menus ul li a {
  text-decoration: none;
  color: var(--font2-color);
}

.menus ul li a:hover {
  border-bottom: 2px solid var(--font-color);
  color: var(--font-color);
}


.btns {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btns button {
  outline: none;
  border: none;
  cursor: pointer;
}

.Trash-table {
  background: none;
}

.Trash-table img {
  width: 30px;
  height: 30px;
  border: 1.5px solid var(--primary-color);
  border-radius: 50%;
  padding: 5px;
  background-color: var(--background-color);
  cursor: pointer;
}

.all-btn-bg {
  font-size: .8rem;
  font-weight: bold;
  color: var(--font-color);
  background: var(--primary-color);
  width: 120px;
  height: 40px;
  border-radius: 20px;
}

/* HEADER */
.header {
  display: flex;
  gap:10rem;
  padding: 2rem;
}
/*left*/
.left-side {
  padding-top: 7rem;

}

.left-side-text h1 {
  font-size: 3rem;
  color: var(--font2-color);
  padding-bottom: 2rem;
  width: 500px;
}

.left-side-text p {
  font-size: 15px;
  color:var(--color);
  line-height: 1.7rem;
  margin-bottom: 2rem;
  width: 500px;
}

.btns-with-out {
  border: 1.5px solid var(--primary-color);
  border-radius: 30px;
}

.all-btn-with-out-bgc {
  outline: none;
  background: none;
  font-size: 1rem;
  font-weight: bold;
  color: var(--font-color);
  width: 120px;
  height: 45px;
  cursor: pointer;
}

.all-btn-with-out-bgc img {
  width: 20px;
  height: 17px;
}

/*right-side*/
.right-side {
  background:var(--right-backgroundcolor);
  border-radius: 50%;
  width: 40%;
  height: 430px;
  margin-top: 5rem;
  position: relative;


}

.boder1 {
  border: 2px solid var(--boders-color);
  border-radius: 50%;
  width: 90%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 4%;

}

.boder2 {
  border: 2px solid var(--boders-color);
  border-radius: 50%;
  width: 80%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 5%;

}


.right-side-img img {
  width: 350px;
  height: 500px;
  position: absolute;
  top: 45%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 2;

}


.header-food-cards {
  position: absolute;
  top: 50%;
  right: -40px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 3;
}

.header-foods-card {
  width: 110px;
  height: 40px;
  border-radius: 20px;
  background:var(--background-color);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 5px;


}

.header-foods-card img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 6px 0 0 10px;
}

.spans {
  font-size: .9rem;
  padding-top: 10px;
  font-weight: bold;
}

.spinach-r {
  position: absolute;
  bottom: 380px;
  left: 160px;
}

.spinach-r img {
  width: 150;
  height: 130px;

}

/* Popular Dishes Section */
.popular-dishes {
  margin-top: 3rem;
  padding: 2rem;

}

.popular-dishes-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--font2-color);
  margin-bottom: 3rem;
}

.dishes {
  display: flex;
  gap: 15px;

}

.dish-card {
  background: var(--foodcards-color);
  padding: 15px;
  width: 310px;
  height: 400px;
  border-radius: 15px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  text-align: center;

}

.dish-card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}

.dish-card img {
  width: 100%;
  height: 170px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.dish-card h3 {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--font-color);
  margin-bottom: 5px;
}

.stars {
  color: var(--primary-color);
  letter-spacing: 2px;
}

.dish-card p {
  font-size: 14px;
  color:var(--color);
  margin-bottom: 20px;
  line-height: 1.4rem;
}

.dish-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dish-footer span {
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--font-color);
}
/*services-section*/
.services-section {
  padding: 2rem;
}

.services-container {
  display: flex;
  align-items: center;
  gap: 5rem;

}

.services-image-left img {
  width: 450px;
  height: 450px;
  border-radius: 10px;

}

.services-content-Right {
  flex: 1;
}

.services-content-Right h2 {
  font-size: 2.2rem;
  font-weight: bold;
  color:var(--color);
  margin-bottom: 1rem;
}

.services-content-Right p {
  font-size: 1rem;
  color:var(--color);
  line-height: 1.6rem;
  margin-bottom: 2rem;
}


.service-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 2rem;
}

.service-item {
  width: 45%;
  font-size: 1rem;
  font-weight: 600;
  color: var(--font-color);
  background: var(--background-color);
  padding: 10px 15px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.service-item-boder {
  border: 2px dotted rgba(128, 128, 128, 0.352);
  width: 30px;
  height: 30px;
  padding: 3px;
  border-radius: 50%;

}


/*<menus-section*/
.menu-section {
  padding: 5rem 8%;
  text-align: center;
}

.menu-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color:var(--color);
}

/* Categories */
.menu-categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 5rem;
}

.dish {
  margin-bottom: 2rem;
}

/* dinner-plan */
.dinner-plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 10%;
}

.dinner-plan-text {
  flex: 1;
  max-width: 50%;
}

.dinner-plan h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  line-height: 1.3;
  font-weight: bold;
}

.dinner-plan p {
  font-size: 0.95rem;
  color:var(--color);
  margin-bottom: 1.5rem;
  line-height: 1.5;
}


.dinner-plan-image img {
  width: 350px;
  height: 300px;
  border-radius: 30%;

}



/* our-costomer */
.our-costomer {
  padding: 3rem 10%;
}

.our-costomer-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.our-costomer-text h2 {
  font-size: 1.8rem;
  font-weight: bold;
}


.icons-buttons {
  display: flex;
  gap: 1rem;
}

.icon-btn {
  background: var(--primary-color);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

}

.ico-btn {
  background: none;
  border: 2px solid var(--primary-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

}


/* our-costomer-cards */
.our-costomer-cards {
  display: flex;
  gap: 1.5rem;
}

.our-costomer-card {
  background: var(--customercards-color);
  border-radius: 15px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.our-costomer-card p {
  font-size: 0.95rem;
  line-height: 1.5;
  color:var(--color);
  margin-bottom: 1.5rem;
}

/* Customer Info */
.customer-info {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.customer-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.customer-info h4 {
  font-size: 1rem;
  font-weight: bold;
}
/*our chefs*/
.our-chefs {
  max-width: 1100px;
  padding-top: 15px;
}

.our-chefs-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.our-chefs-text h2 {
  font-size: 32px;
  font-weight: 700;
  color:var(--font-color);
}

.chefs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}

.Chef{
  background:var(--background-color);
  border-radius: 14px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(25% - 20px);
  max-width: 260px;
  text-align: center;
  padding: 12px;
  margin-bottom: 4rem;
}


.Chef img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 12px;
}

.Chef h4 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  color: var(--font-color);
}


/*Never-Feel-Hungry-section*/
.Never-Feel-Hungry-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--customercards-color);
  border-radius: 20px;
  padding: 10px 20px;
  margin: 60px auto;
  width: 90%;
  max-width: 1100px;
}

.text-side {
  flex: 1;
}

.text-side h1 {
  font-size: 2.3rem;
  font-weight: 700;
  color: var(--font2-color);
  line-height: 1.3;
  margin-bottom: 20px;
}

.text-side p {
  color:var(--color);
  line-height: 1.6;
  margin-bottom: 30px;
  max-width: 500px;
}


.image-side {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image-side img {
  width: 320px;
}

.all-btn-bg img {
  width: 20px;
  gap: 10px;
}

.app-btn {
  width: 130px;
  height: 50px;
}

.img img {
  width: 150px;
  margin: 20rem 5rem 0 0;
}

.btns-with-out {
  border: 1.5px solid var(--primary-color);
  border-radius: 30px;
}

.all-btn-with-out-bgc {
  outline: none;
  background: none;
  font-size: 1rem;
  font-weight: bold;
  color: var(--font-color);
  width: 120px;
  height: 45px;
  cursor: pointer;
}

.all-btn-with-out-bgc img {
  width: 20px;
  height: 17px;
}



/* ABOUT */
.about{
  padding:60px 0 30px;
  text-align:center;
}
.subtitle{
  font-size:1.3rem;
   color:var(--font2-color); 
   margin-bottom:6px;
  }
.section-title{
  letter-spacing:6px;
  color:var(--font2-color);
  margin-bottom:28px;
  font-size:30px;
}

.about-grid{
  display:grid;
  grid-template-columns:1fr 380px 1fr;
  gap:24px;
  margin-top:18px;
}
.about-img{
  height:400px;
  background-size:cover;
  border-radius:2px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.5);
}
.left-img{
  background-image: url('Assetes/abo2.jpg');
   }
.right-img{
  background-image: url('Assetes/5.jpg');

   
  }

.about-card{
  height:400px;
  background:var(--right-backgroundcol);
  border-radius:4px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.45);
}
.card-small{
  color:var(--font2-color); 
  margin-bottom:1rem;
   padding-top:7rem;
}
.card-title{
  color:var(--font2-color);
  font-size:22px;
  margin-bottom:1rem;
  letter-spacing:2px;

}
.card-text{
  color:var(--font2-color);
   margin-bottom:3rem
  }
  .btn-ghost{
  border: 1px solid var(--primary-color);
  padding:10px 18px;
  text-decoration:none;
  color:var(--text);
  border-radius:6px;
  font-weight:600;
  
}

/* MENU / SPECIAL MEAL */
  .SPECIAL-MEAL-section {
  padding: 40px 20px;
  background: var(--background-color);
 
}

.SPECIAL-MEAL-wrap {
  display: grid;
  grid-template-columns: 1fr 440px;
  gap: 5rem;
 
}

ul li {
  list-style: none;
  margin-bottom: 1.5rem;
}

.dish-SPECIAL-MEAL {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  font-weight: 600;
  color: var(--font2-color);
  gap: 10px;
}

.dish-title-SPECIAL-MEAL {
  font-size: 1rem;
}

.pricing-item-boder {
  border-bottom: 1px solid black;
  width: 100%;
  height: 1px;
}

.price-SPECIAL-MEAL {
  color: var(--muted);
  font-weight: 700;
}

.pricing-p {
  font-size: 0.9rem;
  color:var(--color);
  margin-top: 0.3rem;
  margin-left: 5px;
  max-width: 380px;
}

.btn-outline {
  padding: 12px 20px;
  background-color: var(--primary-color);
  color: var(--font2-color);
  text-decoration: none;
  border-radius: 4px;
  font-weight: 600;
  margin-top: 1rem;
}

.SPECIAL-MEAL-right .food-photo img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.4);
}


/*hero*/
.hero{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.826) 0%, 
  rgba(239, 235, 235, 0.927) 50%),
   url('Assetes/ab3.jpg') center/cover no-repeat;
  height:300px;
}
.hero-inner{
  display:flex;
  align-items:center;
  justify-content:flex-start;
  gap:20px;
}
.hero h1{
  margin:0;
  font-size:34px;
  letter-spacing:1px;
}
.hero .breadcrumb{
  opacity:0.8;
   margin-top:8px;
  }

/* main layout */
.page{
  margin-top:5rem;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:2rem;
  margin-left:10rem;
  
}

/* grid of cards */
.grid{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap:10px;
 
}
.card{
  background:var(--card);
  border-radius:10px;
  box-shadow: 0 6px 18px rgba(48,40,40,0.06);
  padding-bottom:14px;
  width:200px;
}

.card-img img{
  width:200px;
   height:140px; 
    border-radius:3px;
  
  }

.card-body{
  padding:0 18px 20px;
}
.card-body .muted{
  color:var(--font2-color); 
  font-size:12px; 
  margin-bottom:6px;
}
.card-body h3{
  margin:0 0 8px; 
  font-size:16px;
}
.price{
  font-weight:700;
}
.price .old{
  color:var(--font2-color);
   text-decoration:line-through; 
   margin-left:8px; 
   font-weight:500;
  }

/* sidebar widgets */
.sidebar .widget{
  background:var(--background-color);
  padding:10px;
  border-radius:10px;
  margin-bottom:1rem;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  width:300px;
}
.widget h4{
  margin:0 0 10px;
   font-size:14px;
  }
.search input{
  width:100%;
  padding:10px 12px;
  border-radius:8px;
  border:1px solid rgba(0,0,0,0.06);
}

.widget img{
  width:20px;
  height:20px;
}
.categories ul{
  list-style:none; 
  padding:0; 
  margin:0;
}
.categories li{
  display:flex;
   justify-content:space-between;
    padding:8px 6px;
     color:var(--color);
  border-bottom:1px dashed rgba(0,0,0,0.03);
}
.price-filter input{
  width:100%
}
.top-list{
  list-style:none;
 
}
.top-list li{
  display:flex;
   gap:10px; 
   align-items:center;
    padding:8px 0;
     border-bottom:1px solid rgba(0,0,0,0.03);
    }
.top-list img{
  width:56px;
  height:44px; 
  object-fit:cover; 
  border-radius:6px;
}
.tp-title{
  margin:0; 
  font-size:13px;
}
.tp-price{
  font-weight:700; 
  color:var(--font2-color);
}



/*contact*/
.contact-section {
  background-color:var(--background-color);
  display: flex;
  justify-content: space-between;
  margin-top:5rem;
}

.contact-left {
  width: 45%;
  margin-left:1.5rem;
}

.contact-left h3{
  font-size: 1rem;
  font-weight: 300;
  letter-spacing:0.2rem;
  color:var(--font2-color);
  margin: 0.5rem 0;
}
.contact-left h2 {
  font-size: 2.5rem;
  font-weight: 400;
  color:var(--font2-color);
  margin: 0.5rem 0;
  
}

.contact-left span {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color:var(--font-color);
  line-height: 2.5rem;

}

.contact-left p {
  font-size:1rem;
  font-weight: 350;
  font-style: italic;
  margin: 0.5rem 0;
  line-height: 2.5rem;
}



.contact-icon img{
width:20px;


}
.contact-icon span{
  font-size:1.1rem;
  font-weight: 300;
  font-style: italic;
  color:var(--font2-color);
 margin-left:0.2rem;
 
}
.contact-icon span:hover{
  color:var(--primary-color);
}


.contact-right {
  width: 45%;
  padding-top:6rem;
}

.contact-right h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
  color:var(--font-color);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input, textarea {
  border: none;
  border-bottom: 1px dotted var(--font-color);
  padding: 0.8rem;
  font-size: 1rem;
  outline: none;
}

textarea {
  min-height: 120px;
 
}



.buttonn:hover {
  background:var(--background-color);
  color:var(--font2-color);
  border: 1px solid var(--primary-color);
} 

.map-container {
  border-radius: 8px;
  margin-top:5rem;
  height: 20px; 
  margin-bottom:25rem;
  
}


/*footer*/
.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px;
  border-top: 1px solid #e0dcd3;

}

.footer-logo {
  flex: 1 1 250px;
}

.footer-logo h2 {
  color:var(--font2-color);
  font-weight: 700;
  margin-bottom: 15px;
}

.newsletter-title {
  font-size:2.1rem;
  font-weight: 600;
  color:var(--font2-color);
  margin-bottom: 10px;
}

.newsletter {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
  width: 200px;
  margin-bottom: 20px;
}

.newsletter input {
  border: none;
  outline: none;
  padding: 10px 15px;
  flex: 1;
  font-size: 0.9rem;
}



.social-icons {
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--font2-color);
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 35px;
}

.social-icons img {
  width: 40px;
  height: 40px;
  border: 1px solid var(--font-color);
  border-radius: 50%;
  padding: 10px;
}

.instagram {
  background-color: var(--primary-color);
}

.footer-links {
  display: flex;
  flex: 3;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-top:2rem;
}

.footer-links .col h4 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 15px;
  color:var(--font2-color);
}

.footer-links .col ul {
  list-style: none;
}

.footer-links .col ul li {
  color:var(--color);
  margin-bottom: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-links .col ul li:hover {
  color:var(--primary-color);
}

.animation-icon {
  animation-name: upDown;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/*animation/img/rice*/
@keyframes upDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.SPECIAL-MEAL-right .food-photo img {
  animation-name: slideRight;
  animation-duration: .5s;
  animation-timing-function: ease-in;
  animation-delay: 1s;
  animation-fill-mode: forwards; 
}

@keyframes slideRight {
  0% {
    transform: translateX(5%);
    opacity: 1;
  }
  10% {
    transform: translateX(0);
    opacity: 0;
  }
}

.left-img{
   animation-name: slideLeft;
  animation-duration: .5s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}
@keyframes slideLeft {
  0% {
    transform: translateX(10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.right-img{
    animation-name: slideRight;
  animation-duration: .5s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes slideRight {
  0% {
    transform: translateX(5%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.about-card {
  animation-name: fromTop;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes fromTop {
  0% {
    transform: translateY(-30%); 
    opacity: 0;
  }
  100% {
    transform: translateY(0); 
    opacity: 1;
  }
}

.page{
   animation-name: fromBottom;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}
@keyframes fromBottom {
  0% {
    transform: translateY(30%); 
    opacity: 0;
  }
  100% {
    transform: translateY(0); 
    opacity: 1;
  }
}



/* Tablet Responsive  */
@media (max-width: 768px) {

  .container{
  max-width: 100%;
  margin: auto;
  }

  .nav {
    display: flex;
    gap:5px;
    
  }
.logo {
  font-size: 1rem;
 
}

.logo img {
  width: 30px;
  height: 30px;
  padding-left: 0;
  margin-bottom: 5px;
}

.menus ul {
  display: flex;
  gap: 15px;
  padding-left:0;
 margin-top:2rem;
}

.menus ul li{
  font-size:.9rem;
}
.menus ul li a:hover {
  border-bottom:none;
  color: var(--primary-color);
}


.btns {
  display: flex;
  gap: 10px;
 
}


.all-btn-bg:hover{
background:none;
border: 1px solid var(--primary-color);
}

  /* HEADER */
   .header {
    display: flex;
    padding-left:20px;
    margin-top:10px;
  }


  .left-side {
    padding-top: 1rem;
  }

   .left-side-text h1{
    font-size:2rem;
    width:330px;
    font-weight: 700;
   }
   .left-side-text p {
    font-size:.9rem;
    width:400px;
    line-height:20px;
   
   }

.all-btn-with-out-bgc {
  width: 120px;
  height: 40px;
}
.btns-with-out:hover{
  background:var(--primary-color);
  border:none;
}


.right-side {
  background:none;
  position: relative; 


}

.boder1 {
display: none;

}

.boder2 {
 display: none;

}


.right-side-img img {
  width: 250px;
  height: 300px;
  position: absolute;
  top: 10%;
  left: 10%;

}
 .header-food-cards {
  display: none;
}

.spinach-r {
  display: none;
}

  /* Popular Dishes Section */
  .dishes {
   flex-direction:row-reverse;
   gap:30px;
  }
  .popular-dishes {
  margin-top:-10rem;
  padding: 2rem;

}

.popular-dishes-title {
  margin-bottom: 2rem;
}
.dish-card {
  width: 400px;
  height: 385px;

}

.dish-card img {
  width: 80%;
  height: 160px;
}

.dish-card h3 {
  font-size: 1.2rem;

}

.stars {
  letter-spacing: 1px;
}

.dish-card p {
  font-size: 12px;
  margin-bottom: 20px;
  line-height: 1.2rem;
}

.dish-footer {
 
  gap:5px;
}
.dish-footer span {
  font-size: 1rem;
}

  /* Services Section */
  .services-section {
  padding:.5rem;
  margin-top:-5rem;

}

.services-container {
  gap: 2rem;

}

.services-image-left img {
  width: 350px;
  height: 300px;

}

.services-content-Right h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  padding-top:10rem;
}

.services-content-Right p {
  font-size: .9rem;
  line-height: 1rem;
  margin-bottom: 1rem;
}


.service-list {
  gap: 10px;
  margin-bottom: 2rem;
}

.service-item {
  width: 45%;
  font-size: .8rem;
  padding: 10px 15px;
  gap: 5px;
}

.service-item-boder {
  width: 25px;
  height: 28px;

}

.dish-card h3 {
  font-size: 1.2rem;

}

.stars {
  letter-spacing: 1px;
}

.dish-card p {
  font-size: 12px;
  margin-bottom: 20px;
  line-height: 1.2rem;
}

.dish-footer span {
  font-size: 1rem;
}  

   /* dinner-plan */
.dinner-plan {
  gap:2rem;
}

.dinner-plan-text {
  max-width: 70%;
}

.dinner-plan h1 {
  font-size: 1.6rem;
  line-height: 1.2;
}

.dinner-plan p {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 1.5rem;
  line-height: 1;
}


.dinner-plan-image img {
  width: 330px;
  height: 300px;
  border-radius: 10%;

}
  /* Our Customers */
  .our-costomer-cards {
    flex-direction: column;
  }

  .our-costomer-card {
    width: 90%;
  }

  /* Our Chefs */
.our-chefs {
  padding:10px;
}

.our-chefs-text{
  margin-bottom:3rem;
}

.Chef{
   height:220px;
    max-width:200%;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
} 


 .Chef img {
  width: 115%;
  height: 120px;
  padding-right:1rem;

}

.Chef h4 {
  text-align:center;
}

  /* Contact Section */
 
.contact-section {
  border-radius:0;
  padding: 10px 10px;
  margin: 60px auto;
  width: 95%;
  max-width: 1100px;
}



.text-side h1 {
  font-size: 1.2rem;
  line-height:1.9rem;
  margin-bottom: 20px;
}

.text-side p {
  line-height: 1rem;
  max-width: 300px;
}


.image-side img {
  width: 250px;
}


.img img {
  width: 90px;
  margin: 15rem 5rem 0 0;
}



  /* ABOUT SECTION */
  .about-grid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-left:1rem;
  }

  .left-img{
display: none;
  }
  .right-img{
    height: 400px;
    width:700px;
  }
  .about-card{
    display: none;
  }

  .card-small {
    padding-top: 3rem;
  }

  .card-title {
    font-size: 20px;
  }

  .section-title {
    font-size: 26px;
    letter-spacing: 4px;
  }

  /* SPECIAL MEAL SECTION */
  .SPECIAL-MEAL-wrap {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .SPECIAL-MEAL-right .food-photo img {
    height: 320px;
  }

  .dish-SPECIAL-MEAL {
    grid-template-columns: auto 1fr auto;
  }

  .btn-outline {
    padding: 10px 18px;
    font-size: 0.9rem;
  }
  .SPECIAL-MEAL-right .food-photo img {
    display: none;
  }
  .page{
  margin-top:3rem;
  margin-left:3rem;
  
}
  .sidebar .widget{
  display: none;
}
  .footer {
  display:grid;
  
}
}

.all-btn-bg {
  cursor: pointer;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
.all-btn-bg:active,
.all-btn-bg:hover {
  animation-name: growButton;
}

/* Keyframes animation */
@keyframes growButton {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.7); 
  }
  100% {
    transform: scale(1); 
  }
}




/* ✅ Mobile Responsive*/
 @media (max-width: 480px) {

  html, body {
    font-size: 14px;
  }

  .container {
    width: 100%;
    padding: 0 1rem;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .logo img {
    width: 45px;
    height: auto;
    margin: 0;
  }

  .menus ul {
    display: none;
  }
  .all-btn-with-out-bgc img {
    width: 15px;
    height: 15px;
    
  }

  .left-side {
    width: 100%;
    padding-top: 1rem;
  }

  .left-side-text h1 {
    font-size: 1.6rem;
    width: 100%;
    max-width: 100%;
  }

  .left-side-text p {
    font-size: 0.9rem;
    width: 100%;
    max-width: 100%;
  }

  .right-side,
  .spinach-r {
    display: none;
  }

  /* Popular Dishes Section */
  .popular-dishes {
    padding: 1rem 0.5rem;
    margin-top: 1rem;
  }

  .popular-dishes-title {
    font-size: 1.5rem;
    text-align: center;
  }

  .dishes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .dish-card {
    width: 100%;
    max-width: 350px;
    margin-bottom: 1rem;
  }

  /* Services Section*/
  .services-container {
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem 0;
  }

  .services-image-left img {
    width: 100%;
    height: auto;
    padding-top:5rem;
  }

  .services-content-Right h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  .service-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .service-item {
    width: 90%;
    text-align: center;
  }

  /* Menu Section*/
  .menu-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1.5rem 0.5rem;
    overflow-x: hidden;
  }

  .menu-section-image img {
    width: 100%;
    height: auto;
    margin-top: 1rem;
  }

  /* Dinner Plan*/
  .dinner-plan {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.5rem 1rem;
  }

  .dinner-plan-text {
    max-width: 100%;
  }

  .dinner-plan h1 {
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: 600;
  }

  .dinner-plan p {
    font-size: 0.8rem;
    line-height: 1.5;
  }

  .dinner-plan-image img {
    display: none;
  }

  /* Customer Section*/
  .our-costomer {
    padding: 1.5rem 0.5rem;
       margin-bottom:5rem;
  }

  .our-costomer-text {
    flex-direction: column;
    gap: 0.8rem;
    text-align: center;
  }

  .our-costomer-cards {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .our-costomer-card {
    width: 100%;
    max-width: 350px;
 
  }

  /* Chefs Section */
  .chefs {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
   
  }

  .Chef {
    width: 90%;
    max-width: 340px;
    padding-bottom:4rem;
    
  }
  .Chef img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 12px;
}
  .Chef h4 {
  margin-top:2rem;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
 
}

  .img,
  .image-side {
    display: none;
  }

  /*about*/
   .right-img{
    height: 300px;
    width:400px;
  
  }

  /*blog*/
  .page{
  margin-left:0rem;
  
}
  .grid{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap:10px;

}

  /* Footer*/
  .footer {
  
    gap:.5rem;

  }

  .newsletter-title {
    font-size: 1.5rem;
    text-align: center;
  }

  .social-icons {
    justify-content: center;
    gap: 15px;
    margin-bottom: 1rem;
  }

  .footer-links {
    flex-direction:row;
  }

  .footer-links .col ul li {
    font-size: 0.9rem;
  }
 

  
  
}

